<%- include ('./partials/head.ejs')  %> 
<body>  
  <%- include ('./partials/navBar.ejs')  %> 
  <section>
    <div class="about-content">
    <p>1. Choose your tasks, then add it</p>
    <p>2. Ensure that the task is finished✔️</p>
    <p>3. Once finished, remove it</p>
    </div>
  </section>
  <footer>
    <h1>Thanks for using our web application✨</h1>
  </footer>
</body>
</html>